---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />
    
    <h2>Course Instructor</h2>
    <a href="{{ site.course_instructor_url }}">{{ site.course_instructor }}</a> <br>
    Phone: {{ site.course_instructor_phone }}  <br>
    Email: <a href="mailto:{{ site.course_instructor_email }}">{{ site.course_instructor_email_text }}</a> <br>
    Contact Hours: Mon, Wed after class hours or by appointment
    <p>  </p>
   
    <h2>Course Timings</h2>
    <p>{{ site.course_timings }}</p>
    <p>  </p>
    
    <h2>Teaching Assistant</h2>
    {{ site.course_ta }} <br>
    Email: <a href="mailto:{{ site.course_ta_email }}">{{ site.course_ta_email_text }}</a> 
    
    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>    
</div>
